
/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Custom style
******************************************************************/

body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

#Title
{
    text-align:center;
    float:left;
    width:100%;    
}

#SearchDiv
{
    margin-left:25%;
    margin-right:25%;
    margin-top:2%;
    width:50%;
    float:left;
    text-align:left;
}

#SearchBar
{
    width:58%;    
    border-width:2px;
    border-style:solid;
    border-color:#D5E7F4;    
    background-color:#F2F9FF; 
    height: 35px;
    font-size:23px;  
    font-weight:bold;
    line-height: 23px;
    padding: 0 8px;        
}

#SearchButton
{
           
}

.button
{
    background-color: #CCC;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 20px;    
    width: 118px;
    color: white;
}

.button:hover
{
    background:#FAD88C;
}
       
.hidden
{
    height:0px;
    overflow:hidden;
}

#Tweets
{    
    margin-left:25%;
    margin-right:25%;
    margin-top:2%;
    margin-bottom: 5%;
    width:50%;
    float:left;
    text-align:center;
    font-weight:bolder;
    padding-left:3px;
    padding-right:3px;
    background-color:#B5D9F7;    
}

#TweetsHeader
{
    text-align:left;
    height:30px;
    font-size:22px;    
    
}

#TweetsHeader #LoadingImage
{
    display:none;
}
#TweetsBody
{
    height:500px;    
    background-color:White;
    overflow-y:auto;        
}

#TweetsFooter
{
    text-align:left;    
}

.tweet
{    
    width:100%;        
    background-color:#F2F9FF;     
    border-bottom:1px ridge;  
    border-bottom-color:#B5D9F7;
    vertical-align:text-top;
    text-align:left;
}

.tweet img
{
    border:2px solid;
    border-color:Black;
}

.text
{
    font-style:italic;    
}

.created_at
{
    font-style:italic;
    color:Gray;
    font-size:smaller;
}

